<% include partials/header %>
            <div class="row">
                <div class="col">
                    <div id="sign">
                        <input id="name" type="text" placeholder="name">
                        <button class="btn btn-primary" id="login">Log In</button>
                        <button class="btn btn-danger" id="reset">Cancel</button>
                    </div>
                    <div id="main"></div>  
                </div>
            </div>
<% include partials/footer %>