<% include partials/header %>
            <div class="row">
                <div class="col">
                    <h1><%= title %></h1>
                    <div id="error"></div>
                    <p>Conversation Board</p>
                    <div id="message_board"></div>
                    <form id="new_message">
                        <input class="form-control" type="text" id="message" placeholder="enter your message here">
                        <button class="btn btn-primary" type="submit" name="Submit">Send</button>
                    </form>
                </div>
            </div>
<% include partials/footer %>